# Truncate PUBG #

This is a notebook to truncate the original PUBG dataset from Kaggle to something slightly easier to workwith. This picks data from all matches on 12/10/2017. 

Full dataset: https://www.kaggle.com/skihikingkevin/pubg-match-deaths

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### `Aggregate` Dataset

In [ ]:
agg_all = pd.DataFrame(columns=['date', 'game_size', 'match_id', 'match_mode', 'party_size',
       'player_assists', 'player_dbno', 'player_dist_ride', 'player_dist_walk',
       'player_dmg', 'player_kills', 'player_name', 'player_survive_time',
       'team_id', 'team_placement'])
for i in np.arange(5):
    agg_all = agg_all.append(pd.read_csv('aggregate/agg_match_stats_%d.csv' %i))

agg_all['date'] = pd.to_datetime(agg_all['date'])
agg_all.reset_index(drop=True, inplace=True)
agg_all.head(10)

In [48]:
agg_short = agg_all[(agg_all['date'].dt.year == 2017) 
                    & (agg_all['date'].dt.month == 12)
                    & (agg_all['date'].dt.day == 10)
                   ]
agg_short.reset_index(drop=True, inplace=True)

In [73]:
agg_short.to_csv('aggregate.csv')

In [62]:
games = agg_short['match_id'].unique()

### `Deaths` Dataset

In [58]:
deaths_all = pd.DataFrame(columns=['killed_by', 'killer_name', 'killer_placement', 'killer_position_x',
       'killer_position_y', 'map', 'match_id', 'time', 'victim_name',
       'victim_placement', 'victim_position_x', 'victim_position_y'])
for i in np.arange(5):
    deaths_all = deaths_all.append(pd.read_csv('deaths/kill_match_stats_final_%d.csv' %i))

deaths_all.reset_index(drop=True, inplace=True)
deaths_all.head(10)

,killed_by,killer_name,killer_placement,killer_position_x,killer_position_y,map,match_id,time,victim_name,victim_placement,victim_position_x,victim_position_y
0,Grenade,KrazyPortuguese,5.0,657725.10,146275.2,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,823,KrazyPortuguese,5.0,657725.10,146275.2
1,SCAR-L,nide2Bxiaojiejie,31.0,93091.37,722236.4,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,194,X3evolution,33.0,92238.68,723375.1
2,S686,Ascholes,43.0,366921.40,421623.9,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,103,CtrlZee,46.0,367304.50,421216.1
3,Down and Out,Weirdo7777,9.0,472014.20,313274.8,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,1018,BlackDpre,13.0,476645.90,316758.4
4,M416,Solayuki1,9.0,473357.80,318340.5,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,1018,Vjolt,13.0,473588.50,318418.8
5,Punch,xuezhiqian717,26.0,721944.40,359575.3,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,123,PurplePenguin9,47.0,0.00,0.0
6,AKM,pdfjkkvjk,12.0,376333.80,317858.9,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,886,JoeyJoeman,15.0,372808.30,297124.2
7,S686,xiaogao13,27.0,373125.30,433540.6,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,137,BNOISE,38.0,373125.80,433608.8
8,S686,Jingchita,40.0,370990.60,424074.5,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,89,OmGiTzPauly,47.0,370761.10,423662.1
9,AKM,Alexande-999,25.0,368799.30,420810.2,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,117,Ascholes,43.0,368015.00,421322.6

In [63]:
deaths_short = deaths_all[deaths_all['match_id'].isin(games)]
deaths_short.reset_index(drop=True, inplace=True)

In [75]:
deaths_short.to_csv('deaths.csv')